[mysqld]

binlog_format=ROW
default-storage-engine=innodb


innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_autoinc_lock_mode        = 2
innodb_lock_schedule_algorithm  = FCFS # MariaDB >10.1.19 and >10.2.3 only

# Galera Provider Configuration
#wsrep_debug=ON
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name=drw_galera_cluster
wsrep_cluster_address="gcomm://"
#wsrep_cluster_address="gcomm://node1:4567,node2:4569,node3:4571"
wsrep_sst_auth=root:bootx

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="node1:4567"
wsrep_node_name=node1

server_id=1
wsrep_gtid_mode=ON
wsrep_gtid_domain_id=1
log_slave_updates=1
log_bin=binlog
expire_logs_days=14
gtid_domain_id=220
